<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/bubble.css">
    <link rel="stylesheet" href="css/chart.css">

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>    
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body id="page-top" class="index">
    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top"><%= channel.split('"').join(''); %></a>
            </div>
        </div>
    </nav>

    <!-- timeline Grid Section -->
    <section id="timeline-container">
        <div class="container">
            <div class="row" style="margin-bottom: 20px">
                <div id="content">
                    <div class="col-sm-12 text-center">
                        <div id="side_panel">
                            <div id="scatter_legend"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div id="scatter"></div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div id="content">
                    <div class="col-sm-12 text-center">
                        <div id="side_panel">
                            <div id="line_legend"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                       <div id="line"></div>
                    </div>

                </div>

            </div>
        </div>
    </section>

 


    <!-- Footer -->
    
    <!-- Theme JavaScript -->
	<% if (params) { %>
  		<script>
			var params = <%- params %>;
		    var channel = <%- channel %>;
		</script>
		<script src="js/bot-web-view.js"></script>
	<% } %>
    <script src="js/bubble.js"></script>
    <% include ga %>
</body>
</html>