  .sentiment--line {
      fill: none;
      clip-path: url(#clip);
      stroke-width: 5px;
  }
  
  .sentiment--pos {
      stroke: green;
  }
  
  .sentiment--neg {
      stroke: red;
  }
  
  .zoom {
      cursor: move;
      fill: none;
      pointer-events: all;
  }
  
  .events {
      fill: #6F257F;
      clip-path: url(#clip);
  }
  
  .events {
      fill: #6F257F;
      clip-path: url(#clip);
  }
  
  .point {
      clip-path: url(#clip);
  }
  
  .line {
      fill: none;
      stroke: #6F257F;
      stroke-width: 5px;
  }
  
  .hover-line {
      stroke: #6F257F;
      stroke-dasharray: 3, 3;
  }
  
  .tooltip-text {
      position: absolute;
      text-align: center;
      width: 90px;
      height: 35px;
      padding: 10px;
      font: 12px sans-serif;
      background: black;
      color: white;
      border: 0px;
      pointer-events: none;
  }