  .sentiment--line {
      fill: none;
      clip-path: url(#clip);
      stroke-width: 1px;
      stroke-dasharray: 3, 2;
  }
  
  .sentiment--pos {
      stroke: #00B909;
  }
  
  .sentiment--neg {
      stroke: #C60606;
  }
  
  .zoom {
      cursor: move;
      fill: none;
      pointer-events: all;
  }
  
  .event-points {
      font-size: 20px;
  }
  
  .event-time {
      font-size: 15px;
      fill: white;
      transform: translate(1px, 0);
  }
  
  .point {
      clip-path: url(#clip);
      fill: white;
      stroke-width: 2px;
  }
  
  .line {
      fill: none;
      stroke: #6F257F;
      stroke-width: 5px;
  }
  
  .hover-line {
      stroke: white;
  }
  
  .tweet {
      position: absolute;
      text-align: center;
      width: 200px;
      padding: 10px;
      font-size: 12px;
      background: black;
      color: white;
      border-radius: 5px;
      border: 0px;
      pointer-events: none;
  }
  
  .tooltip-text {
      position: absolute;
      text-align: center;
      width: 200px;
      padding: 10px;
      font-size: 12px;
      background: rgba(54, 61, 82, 0.99);
      color: white;
      border-radius: 5px;
      border: 0px;
      pointer-events: none;
  }
  
  .events-rect {
      fill: rgba(54, 61, 82, 0.60);
  }
  
  .segment-clicked-rect {
      fill: rgba(54, 61, 82, 0.60);
  }
  
  .emoji {
      height: 40px;
      font-size: 40px;
  }
  
  .axis--y {
      stroke: white;
  }